@font-face {
    font-family: allura;
    src: url('../../assets/fonts/Allura-Regular.ttf');
}

.app {
    .center {
        text-align: center;
    }

    .container {
        margin: 0 auto;
        width: 1000px;
    }

}