.guest-checkout {
    color: #754b23;
    font-family: sans-serif;
}

button {
    margin: 10px;
    width: 100px;
    height: 50px;
    color: white;
    background-color:  #e86b35;
    font-size: medium;
    border-radius: 10px;
    
}
.link-button-text {
    color: white;
    text-decoration: none;
    font-size: medium;
}

.firstName-checkout {
    background-color: #e86b35;
    width: 200px;
    height: 25px;
}

.lastName-checkout {
    background-color:  #f6b53e;
    width: 200px;
    height: 25px;
}

.email-checkout {
    background-color: #06b4af;
    width: 200px;
    height: 25px;
}