

.header {
    color: #754b23;
    text-align: center;
    font-size: 4vmin;
    border-bottom: 24px solid #754b23;
    position: relative;

    h1 {
        font-family: allura;
    }

    .top-image {
        height: 100px;
        background: url(../../assets/images/header.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
    
      .logo {
        height: 200px;
        background: url(../../assets/images/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: relative;
     
      }

}

